@import url('./node_modules/sal.js/dist/sal.css');
@import url('./node_modules/@splidejs/splide/dist/css/splide-core.min.css');

.aboutHeader{
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(7, 7, 7, 0.56);
    height: 100vh;
}
.aboutHeader h1{
    font-size: 4rem;
    color: #fff;
}
.scrollDownAbout{
    text-decoration: none;
    color: #b8b8b8;
    font-size: 1.6rem;
}
.aboutContainer{
    width: 100%;
    height: 100vh;
}
.misionContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    overflow-y: hidden;
    position: sticky;
    z-index: 1;
    top: 0;
}
.missionDiv{
    overflow-y: scroll;
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 50%;
    background: #121212;
    padding-top: 2%;
}
.missionDiv::-webkit-scrollbar-thumb{
    background: #b8b8b8;
}
.greenBg{
    background-color: #004C5D;
}
.missionImgDiv{
    width: 50%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./images/trippyAstronaut.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.aboutTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    background: #12121293;
}
.aboutTitle h1{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1%;
}
.aboutTitle h3{
    font-size: 1.7rem;
    color: #b8b8b8;
    margin-top: 1%;
}

.missionTextDiv{
    width: 80%;
    padding: 10%;
    margin: 0;
}

.missionTextDiv h4{
    color: #b8b8b8;
    line-height: 1.4rem;
    margin-bottom: 1%;
}
.missionTextDiv h1{
    color: #fff;
    font-weight: 400;
    margin-top: 2%;
    font-size: 2rem;
}

.missionTextDiv p{
    color: #fff;
    font-weight:lighter;
    line-height: 1.7rem;
}

.visionDiv{
    background-color: #004C5D;
}

.containerDiv{
    width: 90%;
    padding: 5%;
}
.containerDiv h1{
    width: 100%;
    text-align: center;
    color: #fff;
}

.greenBg h1{
    font-size: 1.8rem;
}


.storyDiv{
    background-color: #2c2c2c;
}
.founderQuote{
    font-style: italic;
    font-size: 0.9rem;
    color: #b8b8b8;
    font-weight: 200;
    line-height: 1.6rem;
    text-align: center;
}
.linkGen{
    color: #b8b8b8;
    text-decoration: none;
}
.linkGen:hover{
    transition: all 300ms ease-in-out;
    color: #0CDEFD;
}
.citeQuote{
    text-align: center;
}
.splide__arrow,.splide__pagination {
    display: none!important;
}
.splide__slide{
    background-color: #121212;
    padding: 5%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
}
.splide__slide a{
    color: #ffffff;
    font-weight: 400;
    margin: 5% 0 0 0;
    text-decoration: none;
}
.splide__slide p{
    color: #b8b8b8;
    font-weight: 200;
    margin-top: 2%;
}
.splide__slide a:hover{
    transition: color ease-in-out 0.4s;
    color: #0CDEFD;
}
.splide__slide:focus{
    transition: background ease-in 0.3s;
    background: #004C5D;
}
.pfpContainer{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 4%;
}
.pfp1{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://pbs.twimg.com/profile_images/1545848501707460608/7VFxxDhm_400x400.jpg');
}
.pfp2{
    background: url('https://pbs.twimg.com/profile_images/1545383676845891585/3NuTFxzW_400x400.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp3{
    background: url('https://pbs.twimg.com/profile_images/1435266922749247490/_ZVQB-RF_400x400.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp4{
    background: url('https://pbs.twimg.com/profile_images/1522372937407471616/q7LPFo38_400x400.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp5{
    background: url('https://pbs.twimg.com/profile_images/1597290497801871360/-_MkcSJz_400x400.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp6{
    background: url('https://pbs.twimg.com/profile_images/1558159917042761728/BF_OVm4n_400x400.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp7{
    background: url('https://pbs.twimg.com/profile_images/1477064845220581379/3DbEXNIB_400x400.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp8{
    background: url('https://pbs.twimg.com/profile_images/1568600154722209792/Fn-Fl30M_400x400.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp9{
    background: url('https://pbs.twimg.com/profile_images/1583107171046285312/81-JX7dP_400x400.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp10{
    background: url('https://pbs.twimg.com/profile_images/1531683734134607876/MnIM73Uk_400x400.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pfp11{
    background: url('https://pbs.twimg.com/profile_images/1599811386724519937/KrKWyONf_400x400.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.meetTeamTitle{
    margin-bottom: 5%;
}

 /*Media Query for landing page 1024-1230*/
 @media screen 
 and (min-device-width: 1024px) 
 and (max-device-width: 1230px) 
 and (-webkit-min-device-pixel-ratio: 1) {
    .missionTextDiv h1 {
        font-size: 1.6rem;
    }
    .missionTextDiv p {
        font-size: 0.9rem;
    }
 }
 @media screen 
 and (min-width: 1024px) 
 and (max-width: 1230px) 
 and (-webkit-min-device-pixel-ratio: 1) {
    .missionTextDiv h1 {
        font-size: 1.6rem;
    }
    .missionTextDiv p {
        font-size: 0.9rem;
    }
 }

  /*Media Query for landing page 900-1023*/
@media screen 
and (min-device-width: 900px) 
and (max-device-width: 1023px) 
and (-webkit-min-device-pixel-ratio: 1) { 
    .missionTextDiv h1 {
        font-size: 1.3rem;
    }
    .missionTextDiv p {
        font-size: 0.8rem;
    }
}
@media screen 
and (min-width: 900px) 
and (max-width: 1023px) 
and (-webkit-min-device-pixel-ratio: 1) { 
    .missionTextDiv h1 {
        font-size: 1.3rem;
    }
    .missionTextDiv p {
        font-size: 0.8rem;
    }
}

/*Media Query for landing page 767-899*/

@media screen 
and (min-device-width: 767px) 
and (max-device-width: 899px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .splide__slide p {
        font-size: 0.8rem;
    }
    .missionImgDiv {
        width: 40%;
    }
    .missionDiv{
        width: 60%;
    }
    .aboutTitle h1 {
        font-size: 2.3rem;
    }
    .aboutTitle h3 {
        font-size: 1.4rem;
    }
    .missionTextDiv h1 {
        font-size: 1.3rem;
    }
    .missionTextDiv p {
        font-size: 0.8rem;
    }
    .founderQuote {
        font-size: 0.8rem;
    }
}
@media screen 
and (min-width: 767px) 
and (max-width: 899px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .splide__slide p {
        font-size: 0.8rem;
    }
    .missionImgDiv {
        width: 40%;
    }
    .missionDiv{
        width: 60%;
    }
    .aboutTitle h1 {
        font-size: 2.3rem;
    }
    .aboutTitle h3 {
        font-size: 1.4rem;
    }
    .missionTextDiv h1 {
        font-size: 1.3rem;
    }
    .missionTextDiv p {
        font-size: 0.8rem;
    }
    .founderQuote {
        font-size: 0.8rem;
    }
}

/*Media Query for landing page 600-766*/

@media screen 
and (min-device-width: 600px) 
and (max-device-width: 766px) 
and (-webkit-min-device-pixel-ratio: 1) { 
    .aboutTitle h1 {
        font-size: 2.3rem;
    }
    .aboutTitle h3 {
        font-size: 1.4rem;
    }
    .missionTextDiv h1 {
        font-size: 1.3rem;
    }
    .missionTextDiv p {
        font-size: 0.8rem;
    }
    .founderQuote {
        font-size: 0.8rem;
    }
    .misionContainer {
        flex-direction: column;
        height: auto;
        position: relative;
        z-index: auto;
        top: auto;
    }
    .aboutContainer {
        height: auto;
    }
    .missionImgDiv {
        width: 100%; 
    }
    .missionDiv{
        width: 100%;
        height: auto;
        overflow-y: hidden;
    }
    .aboutTitle{
        height: auto;
        padding: 30%;
    }
}
@media screen 
and (min-width: 600px) 
and (max-width: 766px) 
and (-webkit-min-device-pixel-ratio: 1) { 
    .aboutTitle h1 {
        font-size: 2.3rem;
    }
    .aboutTitle h3 {
        font-size: 1.4rem;
    }
    .missionTextDiv h1 {
        font-size: 1.3rem;
    }
    .missionTextDiv p {
        font-size: 0.8rem;
    }
    .founderQuote {
        font-size: 0.8rem;
    }
    .misionContainer {
        flex-direction: column;
        height: auto;
        position: relative;
        z-index: auto;
        top: auto;
    }
    .aboutContainer {
        height: auto;
    }
    .missionImgDiv {
        width: 100%; 
    }
    .missionDiv{
        width: 100%;
        height: auto;
        overflow-y: hidden;
    }
    .aboutTitle{
        height: auto;
        padding: 30%;
    }
}

@media screen 
and (min-device-width: 450px) 
and (max-device-width: 599px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .aboutTitle h1 {
        font-size: 1.7rem;
        width: 100%;
    }
    .aboutTitle h3 {
        font-size: 1.2rem;
        width: 100%;
    }
    .missionTextDiv h1 {
        font-size: 1.3rem;
    }
    .missionTextDiv p {
        font-size: 0.8rem;
    }
    .founderQuote {
        font-size: 0.8rem;
    }
    .misionContainer {
        flex-direction: column;
        height: auto;
        position: relative;
        z-index: auto;
        top: auto;
    }
    .aboutContainer {
        height: auto;
    }
    .missionImgDiv {
        width: 100%; 
    }
    .missionDiv{
        width: 100%;
        height: auto;
        overflow-y: hidden;
    }
    .aboutTitle{
        height: auto;
        padding: 30%;
    } 
    .splide__slide{
        width: 5%;
        margin: 0 3%!important;
    }
    .containerDiv h1 {
        margin-bottom: 15%;
    }
}

@media screen 
and (min-width: 450px) 
and (max-width: 599px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .aboutTitle h1 {
        font-size: 1.7rem;
        width: 100%;
    }
    .aboutTitle h3 {
        font-size: 1.2rem;
        width: 100%;
    }
    .missionTextDiv h1 {
        font-size: 1.3rem;
    }
    .missionTextDiv p {
        font-size: 0.8rem;
    }
    .founderQuote {
        font-size: 0.8rem;
    }
    .misionContainer {
        flex-direction: column;
        height: auto;
        position: relative;
        z-index: auto;
        top: auto;
    }
    .aboutContainer {
        height: auto;
    }
    .missionImgDiv {
        width: 100%; 
    }
    .missionDiv{
        width: 100%;
        height: auto;
        overflow-y: hidden;
    }
    .aboutTitle{
        height: auto;
        padding: 30%;
    } 
    .splide__slide{
        width: 5%;
        margin: 0 3%!important;
    }
    .containerDiv h1 {
        margin-bottom: 15%;
    }
}

@media screen 
and (min-width: 350px) 
and (max-width: 449px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .aboutTitle h1 {
        font-size: 1.3rem;
        width: 100%;
    }
    .aboutTitle h3 {
        font-size: 1rem;
        width: 100%;
    }
    .missionTextDiv h1 {
        font-size: 1rem;
    }
    .missionTextDiv p {
        font-size: 0.7rem;
    }
    .founderQuote {
        font-size: 0.8rem;
    }
    .misionContainer {
        flex-direction: column;
        height: auto;
        position: relative;
        z-index: auto;
        top: auto;
    }
    .aboutContainer {
        height: auto;
    }
    .missionImgDiv {
        width: 100%; 
    }
    .missionDiv{
        width: 100%;
        height: auto;
        overflow-y: hidden;
    }
    .aboutTitle{
        height: auto;
        padding: 30%;
    } 
    .splide__slide{
        width: 5%;
        margin: 0 3%!important;
    }
    .containerDiv h1 {
        margin-bottom: 15%;
    }
    .airdropDiv h3 {
        font-size: 1.4rem;
    }
}

@media screen 
and (min-device-width: 350px) 
and (max-device-width: 449px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .aboutTitle h1 {
        font-size: 1.3rem;
        width: 100%;
    }
    .aboutTitle h3 {
        font-size: 1rem;
        width: 100%;
    }
    .missionTextDiv h1 {
        font-size: 1rem;
    }
    .missionTextDiv p {
        font-size: 0.7rem;
    }
    .founderQuote {
        font-size: 0.8rem;
    }
    .misionContainer {
        flex-direction: column;
        height: auto;
        position: relative;
        z-index: auto;
        top: auto;
    }
    .aboutContainer {
        height: auto;
    }
    .missionImgDiv {
        width: 100%; 
    }
    .missionDiv{
        width: 100%;
        height: auto;
        overflow-y: hidden;
    }
    .aboutTitle{
        height: auto;
        padding: 30%;
    } 
    .splide__slide{
        width: 5%;
        margin: 0 3%!important;
    }
    .containerDiv h1 {
        margin-bottom: 15%;
    }
    .airdropDiv h3 {
        font-size: 1.4rem;
    }
}

@media screen 
and (min-device-width: 250px) 
and (max-device-width: 349px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .aboutTitle h1 {
        font-size: 1.3rem;
        width: 100%;
    }
    .aboutTitle h3 {
        font-size: 1rem;
        width: 100%;
    }
    .missionTextDiv h1 {
        font-size: 1rem;
    }
    .missionTextDiv p {
        font-size: 0.7rem;
    }
    .founderQuote {
        font-size: 0.8rem;
    }
    .misionContainer {
        flex-direction: column;
        height: auto;
        position: relative;
        z-index: auto;
        top: auto;
    }
    .aboutContainer {
        height: auto;
    }
    .missionImgDiv {
        width: 100%; 
    }
    .missionDiv{
        width: 100%;
        height: auto;
        overflow-y: hidden;
    }
    .aboutTitle{
        height: auto;
        padding: 30%;
    } 
    .splide__slide{
        width: 5%;
        margin: 0 3%!important;
    }
    .containerDiv h1 {
        margin-bottom: 15%;
    }
    .airdropDiv h3 {
        font-size: 1.4rem;
    }
}

@media screen 
and (min-width: 250px) 
and (max-width: 349px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .aboutTitle h1 {
        font-size: 0.9rem;
        width: 100%;
    }
    .aboutTitle h3 {
        font-size: 0.7rem;
        width: 100%;
    }
    .missionTextDiv h1 {
        font-size: 0.8rem;
    }
    .missionTextDiv h4 {
        font-size: 0.9rem;
    }
    .missionTextDiv p {
        font-size: 0.7rem;
    }
    .founderQuote {
        font-size: 0.7rem;
        width: 90%;
        padding: 2% 5%;
        margin-left: 0;
    }
    .misionContainer {
        flex-direction: column;
        height: auto;
        position: relative;
        z-index: auto;
        top: auto;
    }
    .aboutContainer {
        height: auto;
    }
    .missionImgDiv {
        width: 100%; 
    }
    .missionDiv{
        width: 100%;
        height: auto;
        overflow-y: hidden;
    }
    .aboutTitle{
        height: auto;
        padding: 30%;
    } 
    .splide__slide{
        width: 5%;
        margin: 0 3%!important;
    }
    .containerDiv h1 {
        margin-bottom: 23%;
    }
    .airdropDiv h3 {
        font-size: 1.4rem;
    }
    .meetTeamTitle {
        font-size: 1rem;
    }
}